HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*~
*.class
*.html
.DS_Store
package-list
script.js
stylesheet.css

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
**/build
**/certs
**/target

.classpath
.project
.settings
.idea
**/*.iml

# jenv local settings
.java-version

# environment shell script

env.sh

# pid file
spring-jpa-hibernate.pid